.btn{
    background-color: var(--bluelagoon-color);
    color: var(--white-color);
    border: 0.188rem solid transparent;
    @include button;
  }
  
  .btn-primary{
    @include btn-primary;
  }

  .btn-secondary{
    @include btn-secondary;
  }

  .btn-outline{
    @include btn-outline;
  }

  .btn-icon{
    @include btn-icon;
    @include flexCenter();
    i{
      margin-right: 0.313rem;
      font-size: 1.375rem;
    }
  }

  .btn-small{
    @include btn-small;
  }
  .btn-medium{
    @include btn-medium;
  }
  .btn-big{
    @include btn-big;
  }